{
  "env": {
    "targets": "> 0.25%, not dead, ie 11"
  },
  "minify": true,
  "jsc": {
    "parser": {
      "syntax": "ecmascript"
    },
    "transform": null,
    "target": "es5",
    "loose": true,
    "minify": {
      "compress": true,
      "mangle": true
    }
  }
}